{% extends "layout.html" %}

{% block title %}
<title>Formación Académica</title>
{% endblock %}

{% block page %}
<h1>Página de Formación Académica</h1>
{% endblock %}

{% block navbar %}
<li><a href="http://127.0.0.1:5000/">Información Personal</a></li>
<li class="active"><a href="http://127.0.0.1:5000/academics">Formación Académica</a></li>
<li><a href="http://127.0.0.1:5000/work">Experiencia Laboral</a></li>
<li><a href="http://127.0.0.1:5000/contact">Contacto</a></li>
{% endblock %}

{% block info %}
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Colegio - </h3>
        <h4><b>Nombre del Establecimiento: </b></h4>
        <h5>International School of Curitiba</h5>
        <h4><b>Nivel Académico: </b></h4>
        <h5>Primaria</h5>
        <h4><b>Nombre de la Carrera: </b></h4>
        <h5>Colegio</h5>
        <h4><b>Período: </b></h4>
        <h5>2004-2007</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Colegio - </h3>
        <h4><b>Nombre del Establecimiento: </b></h4>
        <h5>International School of Prague</h5>
        <h4><b>Nivel Académico: </b></h4>
        <h5>Primaria</h5>
        <h4><b>Nombre de la Carrera: </b></h4>
        <h5>Colegio</h5>
        <h4><b>Período: </b></h4>
        <h5>2007-2011</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Secundaria - </h3>
        <h4><b>Nombre del Establecimiento: </b></h4>
        <h5>Colegio Americano de Guatemala</h5>
        <h4><b>Nivel Académico: </b></h4>
        <h5>Bachillerato</h5>
        <h4><b>Nombre de la Carrera: </b></h4>
        <h5>Colegio</h5>
        <h4><b>Período: </b></h4>
        <h5>2011-2018</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Extras - </h3>
        <h4><b>Nombre del Establecimiento: </b></h4>
        <h5>German Language Society</h5>
        <h4><b>Nivel Académico: </b></h4>
        <h5>Bachillerato</h5>
        <h4><b>Nombre de la Carrera: </b></h4>
        <h5>El Lenguaje Alemán</h5>
        <h4><b>Período: </b></h4>
        <h5>2018-2018</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Universidad - </h3>
        <h4><b>Nombre del Establecimiento: </b></h4>
        <h5>Universidad Francisco Marroquín</h5>
        <h4><b>Nivel Académico: </b></h4>
        <h5>Universitario</h5>
        <h4><b>Nombre de la Carrera: </b></h4>
        <h5>Ingeniería en Ciencias de la Computación</h5>
        <h4><b>Período: </b></h4>
        <h5>2018-2019</h5>
      </div>
    </div>
  </div>
{% endblock %}
