{% extends "layout.html" %}

{% block title %}
<title>Contacto</title>
{% endblock %}

{% block page %}
<h1>Página de Contacto</h1>
{% endblock %}

{% block navbar %}
<li><a href="http://127.0.0.1:5000/">Información Personal</a></li>
<li><a href="http://127.0.0.1:5000/academics">Formación Académica</a></li>
<li><a href="http://127.0.0.1:5000/work">Experiencia Laboral</a></li>
<li class="active"><a href="http://127.0.0.1:5000/contact">Contacto</a></li>
{% endblock %}

{% block info %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Links - </h3>
      <h4>LinkedIn: </h4>
      <h5>I don't have a LinkedIn profile</h5>
      <h4>Twitter: </h4>
      <h5>I don't have a twitter profile</h5>
      <h4>Facebook: </h4>
      <h5> <a href = "https://www.facebook.com/ian.jenatz.16">Facebook Link</a></h5>
      <h4>Instagram: </h4>
      <h5> <a href="https://www.instagram.com/ianj090/">Instagram Link</a></h5>
    </div>
  </div>
</div>
{% endblock %}
