{% extends "layout.html" %}

{% block title %}
<title>Contacto</title>
{% endblock %}

{% block style %}
<style>
body {
  background-image: linear-gradient(to bottom right, white, rgb(0, 255, 38));
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  padding: 2px 16px;
}
.container {
  padding: 2px 16px;
}
.container-fluid {
  padding: 2px 50px;
}
.text {
  padding: 1% 5%;
}
</style>
{% endblock %}

{% block page %}
<h1>Página de Contacto</h1>
{% endblock %}

{% block navbar %}
<li><a href="http://127.0.0.1:5000/">Información Personal</a></li>
<li><a href="http://127.0.0.1:5000/academics">Formación Académica</a></li>
<li><a href="http://127.0.0.1:5000/work">Experiencia Laboral</a></li>
<li class="active"><a href="http://127.0.0.1:5000/contact">Contacto</a></li>
{% endblock %}

{% block info %}
<div class="card">
  <div class="row">
    <div class="container-fluid">
      <h3>Links - </h3>
      <h4 style="font-size:2.3vw"><b>LinkedIn: </b></h4>
      <h5 class="text" style="font-size:2vw">No tengo un perfil de LinkedIn</h5>
      <h4 style="font-size:2.3vw"><b>Twitter: </b></h4>
      <h5 class="text" style="font-size:2vw">No tengo un perfil de Twitter</h5>
      <h4 style="font-size:2.3vw"><b>Facebook: </b></h4>
      <h5 class="text" style="font-size:2vw"> <a href = "https://www.facebook.com/ian.jenatz.16">Link de Facebook</a></h5>
      <h4 style="font-size:2.3vw"><b>Instagram: </b></h4>
      <h5 class="text" style="font-size:2vw"> <a href="https://www.instagram.com/ianj090/">Link de Instagram</a></h5>
    </div>
  </div>
</div>
{% endblock %}
