{% extends "layout.html" %}

{% block title %}
<title>Información</title>
{% endblock %}

{% block style %}
<style>
body {
  background-image: linear-gradient(to bottom right, white, rgba(173,216,230 ,1 ));
  overflow-x: hidden;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  padding: 2px 16px;
}
.container {
  padding: 2px 16px;
}
.text {
  padding: 0% 7%;
}
</style>
{% endblock %}

{% block page %}
<h1>Página de Información</h1>
{% endblock %}

{% block navbar %}
<li class="active"><a href="http://127.0.0.1:5000/">Información Personal</a></li>
<li><a href="http://127.0.0.1:5000/academics">Formación Académica</a></li>
<li><a href="http://127.0.0.1:5000/work">Experiencia Laboral</a></li>
<li><a href="http://127.0.0.1:5000/contact">Contacto</a></li>
{% endblock %}

{% block info %}
<div class="card">
  <table>
    <tr>
      <td>
        <img src= {{ imagen }} style = "width:30vw;"border:10;></img>
      </td>  
      <td>
        <div class="container" style=display:inline-block>
          <h4 style="font-size:5vw"><b>{{ nombre }}</b></h4>
          <p style="font-size:2vw">{{ edad }}, {{ estado_civil }}</p>
          <p style="font-size:2vw">{{ correo }}</p>
          <p style="font-size:1.8vw">{{ direccion }}</p>
          <p style="font-size:1.8vw">{{ nacionalidad }}</p>
        </div>
      </td>
    </tr>
  </table>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h4 style="font-size:3.5vw">About Me -</h4> 
        <p class = "text" style="font-size:2vw">{{ sobre_mi }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
