{% extends "layout.html" %}

{% block title %}
<title>Experiencia Laboral</title>
{% endblock %}

{% block style %}
<style>
body {
  background-image: linear-gradient(to bottom right, white, yellow);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  padding: 2px 16px;
}
.container {
  padding: 2px 16px;
}
.container-fluid {
  padding: 2px 50px;
}
.text {
  padding: 1% 5%;
}
</style>
{% endblock %}

{% block page %}
<h1>Página de Experiencia Laboral</h1>
{% endblock %}

{% block navbar %}
<li><a href="http://127.0.0.1:5000/">Información Personal</a></li>
<li><a href="http://127.0.0.1:5000/academics">Formación Académica</a></li>
<li class="active"><a href="http://127.0.0.1:5000/work">Experiencia Laboral</a></li>
<li><a href="http://127.0.0.1:5000/contact">Contacto</a></li>
{% endblock %}

{% block info %}
<div class="card">
  <div class="row">
    <div class="container-fluid">
      <h3>Lugar - </h3>
      <h4 style="font-size:2.3vw"><b>Nombre de la Empresa: </b></h4>
      <h5 class="text" style="font-size:2vw">Nunca he trabajado</h5>
      <h4 style="font-size:2.3vw"><b>Puesto de Trabajo: </b></h4>
      <h5 class="text" style="font-size:2vw">Nunca he trabajado</h5>
      <h4 style="font-size:2.3vw"><b>Período: </b></h4>
      <h5 class="text" style="font-size:2vw">Nunca he trabajado</h5>
      <h4 style="font-size:2.3vw"><b>Breve Descripción: </b></h4>
      <h5 class="text" style="font-size:2vw">Nunca he trabajado</h5>
    </div>
  </div>
</div>
{% endblock %}
