{% extends "layout.html" %}

{% block title %}
<title>Experiencia Laboral</title>
{% endblock %}

{% block page %}
<h1>Página de Experiencia Laboral</h1>
{% endblock %}

{% block navbar %}
<li><a href="http://127.0.0.1:5000/">Información Personal</a></li>
<li><a href="http://127.0.0.1:5000/academics">Formación Académica</a></li>
<li class="active"><a href="http://127.0.0.1:5000/work">Experiencia Laboral</a></li>
<li><a href="http://127.0.0.1:5000/contact">Contacto</a></li>
{% endblock %}

{% block info %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Lugar - </h3>
      <h4>Nombre de la Empresa: </h4>
      <h5>Nunca he trabajado</h5>
      <h4>Puesto de Trabajo: </h4>
      <h5>Nunca he trabajado</h5>
      <h4>Período: </h4>
      <h5>Nunca he trabajado</h5>
      <h4>Breve Descripción: </h4>
      <h5>Nunca he trabajado</h5>
    </div>
  </div>
</div>
{% endblock %}
